
.home
{
	width: 100%;
	height: 53vw;
}
.home-background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #4d1d85;
    background-image: linear-gradient(to bottom, #200e35, #4d1d85);
    background: #4d1d85;
    background: linear-gradient(to bottom, #200e35, #4d1d85);
    z-index: 1;
}
.background-city
{
	z-index: 3;
}
.cloud
{
	position: absolute;
	width: 138px;
	height: 57px;
	z-index: 4;
}
.cloud img
{
	max-width: 100%;
}
.cloud-1
{
	top: 147px;
	left: -138px;
	-webkit-animation: cloud-anim 60s -39s linear infinite;
	animation: cloud-anim 60s -39s linear infinite;
}
.cloud-2
{
	top: 204px;
	left: -138px;
	-webkit-animation: cloud-anim 60s -6s linear infinite;
	animation: cloud-anim 60s -6s linear infinite;
}
.cloud-3
{
	top: 332px;
	left: -138px;
	-webkit-animation: cloud-anim 60s -45s linear infinite;
	animation: cloud-anim 60s -45s linear infinite;
}
.cloud-4
{
	top: 353px;
	left: -138px;
	-webkit-animation: cloud-anim 60s -15s linear infinite;
	animation: cloud-anim 60s -15s linear infinite;
	z-index: 2;
}
@-webkit-keyframes cloud-anim
{
	0%
	{
		left: -138px;
	}
	100%
	{
		left: calc(100vw + 138px);
	}
}
@keyframes cloud-anim
{
	0%
	{
		left: -138px;
	}
	100%
	{
		left: calc(100vw + 138px);
	}
}
.home-container
{
	position: absolute;
	left: 0;
	top: 31.9%;
	width: 100%;
	z-index: 5;
}
.home-title
{
	font-size: 60px;
	font-weight: 600;
	color: #FFFFFF;
	line-height: 1.2;
}
.home-text
{
	max-width: 750px;
	font-size: 18px;
	color: #FFFFFF;
	line-height: 2.14;
	margin-left: auto;
	margin-right: auto;
	margin-top: 9px;
}
.home-search-form-container
{
	margin-top: 40px;
}
.home-search-form
{
	width: 100%;
}
.home-search-form > div
{
	width: calc(100% - 196px);
	margin-right: 30px;
}
.select-search-input
{
	width: calc(100% - 10px);
	height: 60px;
	background: #FFFFFF;
	border-radius: 12px;
	border: none;
	outline: none;
	padding-left: 30px;
	font-size: 24px;
	font-weight: 500;
	color: #1f1d22;
}
.select-search-input::-webkit-input-placeholder
{
	font-size: 24px !important;
	font-weight: 500 !important;
	color: #1f1d22 !important;
}
.select-search-input:-moz-placeholder
{
	font-size: 24px !important;
	font-weight: 500 !important;
	color: #1f1d22 !important;
}
.select-search-input::-moz-placeholder
{
	font-size: 24px !important;
	font-weight: 500 !important;
	color: #1f1d22 !important;
}
.select-search-input:-ms-input-placeholder
{
	font-size: 24px !important;
	font-weight: 500 !important;
	color: #1f1d22 !important;
}
.select-search-input::input-placeholder
{
	font-size: 24px !important;
	font-weight: 500 !important;
	color: #1f1d22 !important;
}

.home-search-button
{
	width: 166px;
	height: 60px;
	background: #1befc5;
	border-radius: 12px;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 24px;
	font-weight: 600;
	color: #1f1d22;
}
.home-search-button img
{
	margin-right: 10px;
}
.home-search-button:hover
{
	background: #FFFFFF;
}

@media only screen and (max-width: 1690px)
{
	.home
	{
		height: 58vw;
	}
}
