<div class="home">
  <div class="home-background"></div>
  <div class="background-image background-city" style="background-image:url(assets/img/city.png)"></div>
  <div class="cloud cloud-1">
    <img src="assets/img/cloud.png" alt="">
  </div>
  <div class="cloud cloud-2">
    <img src="assets/img/cloud.png" alt="">
  </div>
  <div class="cloud cloud-3">
    <img src="assets/img/cloud-full.png" alt="">
  </div>
  <div class="cloud cloud-4">
    <img src="assets/img/cloud.png" alt="">
  </div>
  <div class="home-container">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="home-content text-center">
            <div class="home-title">Busque a sua comodidade.</div>
            <div class="home-text">Escolha a sua melhor opção de transporte.</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <div class="home-search-form-container">
            <div class="home-search-form d-flex flex-md-row flex-column align-items-center justify-content-start">
              <div class="d-flex flex-row align-items-center justify-content-start">
                <select type="text" class="select-search-input" id="valueTransport" name="valueTransport"  [(ngModel)]="transports.valueTransport">
                  <option *ngFor="let transport of optionsTransports" [ngValue]="transport">{{transport.name}}</option>
                  </select>
              </div>
              <button (click)="searchTransport()"  class="home-search-button d-flex flex-row align-items-center justify-content-center">
                <img src="assets/img/search.png"  >Search
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-transport-list></app-transport-list>
