
.header
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	background: transparent;
	z-index: 100;
}
.header.scrolled
{
	background: #200e35;
	padding-top: 6px;
}
.header-content
{
	width: 100%;
	height: 124px;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.header.scrolled .header-content
{
	height: 80px;
}
.logo
{
	position: absolute;
	top: 50%;
	left: 0;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.logo a
{
	display: block;
	font-size: 24px;
	font-weight: 600;
	color: #FFFFFF;
}
.logo a span
{
	color: #1befc5;
}
.log-reg
{
	position: absolute;
	top: 50%;
	right: 0;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.log-reg-text a
{
	font-size: 16px;
	font-weight: 600;
	color: #FFFFFF;
}
.log-reg-text a:hover
{
	color: #1befc5;
}
.log-reg-content > div:not(:last-child)::after
{
	display: inline-block;
	content: '/';
	font-size: 16px;
	font-weight: 600;
	color: #FFFFFF;
	margin-left: 4px;
	margin-right: 4px;
}
.hamburger
{
	display: none;
	cursor: pointer;
	border: solid 1px transparent;
	border-radius: 7px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.hamburger:hover
{
	border: solid 1px rgba(255,255,255,0.15);
}
.hamburger i
{
	font-size: 20px;
	color: #FFFFFF;
	padding: 5px;
}
