<div>
  <tabset>
    <tab heading="Lista" id="tab1">
      <br>
      <div class="table-contain-it">
          <div class="row">
              <div class="col-lg-12">
                  <strong>OBS: CLICK nos valores de latitude e longitudo que você será enviado para o google maps</strong>
              </div>
              <div class="col-lg-12">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Lista dos Locais do trageto do transporte</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let it of valuesPagination">
                      <td>
                        <a href="https://www.google.com/maps/?q={{it.lat}},{{it.lng}}" target="_blank">
                            <div class="row">

                          <div class="col-lg-6">
                              <strong>longitudo</strong>  {{it.lat}}
                          </div>
                          <div class="col-lg-6">
                              <strong>latitude</strong> {{it.lng}}
                            </div>
                            </div>

                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-lg-12 align-items-center">
                <pagination [maxSize]="10" [(ngModel)]="activePage" [totalItems]="valuesTransports.length" (pageChanged)="pageChanged($event)"></pagination>
              </div>
      </div>


    </tab>
    <tab heading="Mapa">
      <template #maps></template>
    </tab>
  </tabset>
</div>
