

.table-contain-it strong
{
	color: #656566;
}


.table-contain-it .table-bordered
{
	margin-top: 10px;


}

.table-contain-it .table-bordered td, .table-bordered th
{
	border-color: #1befc5 !important;
	color: #656566 !important;
	font-size: 18px;


}

.table-contain-it .table-bordered td > a
{
	color: #656566 !important;
	font-size: 15px;


}




