<div class="table-contain" *ngIf="valuesTransports?.length">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="home-title">Lista de Condução</div>
      </div>
      <div class="col-lg-12">
        <div class="d-flex flex-column align-items-center justify-content-center">
          <div class="table-box d-flex flex-md-row flex-column align-items-center justify-content-start">
            <div class="d-flex flex-row align-items-center justify-content-start">
              <input type="text" class="table-box-input" placeholder="Pesquise pelo Nome" [(ngModel)]="search">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <strong>OBS: CLICK no nome para obter a lista de itinerario</strong>
      </div>
      <div class="col-lg-12">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>CODIGO - NOME</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let post of valuesPagination | filter:[{field:'nome', value: search}]">
              <td>
                <a href="javascript:void(0)" (click)="showModal(post)">
                  <strong>{{post.codigo}}</strong> {{post.nome}}
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-lg-12 align-items-center">
      <pagination [maxSize]="10" [(ngModel)]="activePage" [totalItems]="valuesTransports.length" (pageChanged)="pageChanged($event)"></pagination>
    </div>
  </div>
</div>
<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <div class="col-lg-12">
          <h4 class="modal-title">Itinerario</h4>
          <p>
            <strong>{{it.codigo}}</strong> {{it.nome}}
          </p>
        </div>
        <button type="button" class="close pull-right" (click)="hideModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-itinerary></app-itinerary>
      </div>
    </div>
  </div>
</div>
