
.table-contain{
	width: 100%;
	background: #25103f;
	padding-bottom: 97px;
}


.table-contain .home-title
{
	font-size: 40px;
	font-weight: 600;
	color: #FFFFFF;
	line-height: 1.2;
	margin-top: 20px;
	margin-bottom: 20px;
}

.table-contain strong
{
	color: #FFFFFF;
}


.table-contain .table-bordered
{
	margin-top: 10px;


}

.table-contain .table-bordered td, .table-bordered th
{
	border-color: #1befc5 !important;
	color: #FFFFFF !important;
	font-size: 18px;


}

.table-contain .table-bordered td > a
{
	color: #FFFFFF !important;
	font-size: 18px;


}





.table-box
{
	width: 100%;
	padding-bottom: 30px;
}
.table-box > div
{
	width: calc(100% - 196px);
	margin-right: 30px;
}
.table-box-input
{
	width: calc(100% - 141px);
	height: 60px;
	background: #FFFFFF;
	border-radius: 12px;
	border: none;
	outline: none;
	padding-left: 30px;
	font-size: 24px;
	font-weight: 500;
	color: #1f1d22;
}
.table-box-input::-webkit-input-placeholder
{
	font-size: 24px !important;
	font-weight: 500 !important;
	color: #1f1d22 !important;
}
.table-box-input:-moz-placeholder
{
	font-size: 24px !important;
	font-weight: 500 !important;
	color: #1f1d22 !important;
}
.table-box-input::-moz-placeholder
{
	font-size: 24px !important;
	font-weight: 500 !important;
	color: #1f1d22 !important;
}
.table-box-input:-ms-input-placeholder
{
	font-size: 24px !important;
	font-weight: 500 !important;
	color: #1f1d22 !important;
}
.table-box-input::input-placeholder
{
	font-size: 24px !important;
	font-weight: 500 !important;
	color: #1f1d22 !important;
}
