
<div *ngIf="markers?.length">
  <br>
  <h5>OBS: Estou usando uma conta de desenvolvedor, irá aparecer um modal com erro mas vai ser renderisado sem nenhum problema.</h5>
<agm-map
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom">

  <agm-marker
      *ngFor="let m of markers; let i = index"
      [latitude]="m.lat"
      [longitude]="m.lng">
  </agm-marker>
</agm-map>
</div>
